@import './theme.scss';
$primary: map-get($my-app-theme, primary);

html, body { 
    height: 100%; 

}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: mat-color($primary, 300);
}
