<mat-toolbar color="primary" class="navigation">

  <a routerLink="/" class="navbar-brand">
    <img src="../../assets/hmb_logo.svg" alt="logo" class="logo">
  </a>

  <span class="example-spacer"></span>

  <div class="nav-items">

    <!-- The following menu items will be hidden on both SM and XS screen sizes -->

    <a *ngIf="!token" class="nav-item" [routerLink]="'/login'" mat-button>Prijava</a>

    <button *ngIf="token && data.employee" mat-button [matMenuTriggerFor]="menu">{{ data.employee.name }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Odjava
      </button>
    </mat-menu>

  </div>

</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

  <router-outlet></router-outlet>

</div>