@import '../theme.scss';
$warn: map-get($my-app-theme, warn);
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);


.example-spacer {
    flex: 1 1 auto;
}

.navigation {
    padding: 0 20px;

    .nav-items {
        height: 100%;
        display: flex;
    
        & .nav-item {
            display: flex;
            align-items: center;
            padding: 0 10px;
            color: #fff;
            text-decoration: none;
        }
    }
}


app-home {
    width: 100%;
}

.title-toolbar {
    background: mat-color($primary, 700);
}

.button {
    padding: 0 22px;

    .mat-icon {
        position: relative;
        top: -2px;
    }
}

.title-header {
    background: mat-color($warn, 400);
    color: #fff;
    padding: 10px 20px;

    .back-arrow {
        cursor: pointer;
    }

    h3 {
        font-weight: normal;
    }

    .mat-icon {
        margin-right: 15px;
    }
}

.pdTop56 {
    padding-top: 56px;
}

.content {
    padding: 30px 20px;
}

::ng-deep .mat-form-field-label{
    color: mat-color($accent, 900) !important;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color: mat-color($accent, 700) !important;
}
      
::ng-deep .mat-form-field-underline{
    background-color: mat-color($accent, 700) !important;
}
