@import '../theme.scss';
$primary: map-get($my-app-theme, primary);


.example-spacer {
    flex: 1 1 auto;
}

.navigation {
    padding: 0 20px;

    .nav-items {
        height: 100%;
        display: flex;
    
        & .nav-item {
            display: flex;
            align-items: center;
            padding: 0 10px;
            color: #fff;
            text-decoration: none;
        }
    }
}


app-home {
    width: 100%;
}

.button {
    padding: 0 22px;

    .mat-icon {
        position: relative;
        top: -2px;
    }
}

.title-header {
    background: mat-color($primary, 400);
    color: #fff;
    padding: 10px 20px;

    .back-arrow {
        cursor: pointer;
    }

    h3 {
        font-weight: normal;
    }

    .mat-icon {
        margin-right: 15px;
    }
}

.pdTop56 {
    padding-top: 56px;
}

.content {
    padding: 30px 20px;
}

.buttons-wrapper {

    .mat-form-field-label {
        color: #cecece !important;
        font-size: 16px;
    }
    .mat-form-field-underline {
        background-color: #cecece !important;;
    }
    .mat-form-field-ripple {
        background-color: #cecece !important;
    }
}