<mat-toolbar color="warn" class="navigation">

  <span>HMB</span>

  <span class="example-spacer"></span>

  <div fxShow="true" fxHide.lt-md="true" class="nav-items">

    <!-- The following menu items will be hidden on both SM and XS screen sizes -->

    <a *ngIf="!token" class="nav-item" [routerLink]="'/login'" mat-button>Prijava</a>

    <button *ngIf="token && data.employee" mat-button [matMenuTriggerFor]="menu">{{ data.employee.name }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/profile'">Profil</button>
      <button mat-menu-item (click)="logout()">Odjava</button>
    </mat-menu>

  </div>

  <div fxShow="true" fxHide.gt-sm="true">

    <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>

  </div>

</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

  <router-outlet></router-outlet>

</div>