@import '../theme.scss';
$warn: map-get($my-app-theme, warn);
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);


.example-spacer {
    flex: 1 1 auto;
}

.navigation {
    padding: 0 20px;

    .navbar-brand {
        display: flex;
        align-items: center;

        .logo {
            max-width: 115px;
            width: 100%;
            min-width: 100px;
        }
    }

    .nav-items {
        height: 100%;
        display: flex;
    
        & .nav-item {
            display: flex;
            align-items: center;
            padding: 0 10px;
            color: mat-color($warn, 500);
            text-decoration: none;
        }
    }
}


app-home {
    width: 100%;
}

::ng-deep .mat-form-field-label{
    color: mat-color($accent, 900) !important;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color: mat-color($accent, 700) !important;
}
      
::ng-deep .mat-form-field-underline{
    background-color: mat-color($accent, 700) !important;
}
