@import '../../../styles.scss';
@import '../../../theme.scss';
$warn: map-get($my-app-theme, warn);
$primary: map-get($my-app-theme, primary);
$accent: map-get($my-app-theme, accent);

:host {
    width: 100%;
}

.mat-card {
    padding: 0;
    margin: 20px;

    .main-form {
        padding: 50px 20px;
    
        .form-section {
            width: 100%;

            .radio-section {

                .mat-radio-button:first-of-type {
                    margin-right: 10px;
                }
            }
    
            .highlight-section {
                padding: 0 20px 20px ;
                background: mat-color($primary, 200);
                margin-bottom: 20px;
                border-radius: 4px;
            }

            .napomena {
                margin-top: -1px;
            }
        }
    }
}